* {
    /* Selector comodin (selecciona todos los elementos html) */
    outline: 2px dashed crimson;
    /* Linea externa de 2px */
    margin: 0;
    /* for
    padding: 0;
    box-sizing: border-box;